<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Tamagotchi</title>
</head>
<body>
    <div class="container">
      <h1>Your Tamagotchi</h1>
      <p>You are a bad parent!!!</p>
      <form action="/delete" method="post">
        <button type="submit" name="button">New Victim</button>
      </form>
    </div>
</body>
</html>
