<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Tamagotchi</title>
</head>
<body>
    <div class="container">
      <h1>Your Tamagotchi has Eaten</h1>
      <h2>But now it's more playful and sleepy</h2>
      <a href="/">Back Home</a>
    </div>
</body>
</html>
